<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Gender Detection AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Gender Detection AI</h1>

        <p class="subtitle">
            Predict gender using Machine Learning
        </p>

        <form method="POST">

            <input type="text"
                   name="name"
                   placeholder="Enter a name..."
                   required>

            <button type="submit">
                Predict Gender
            </button>

        </form>

        {% if prediction %}

        <div class="result">

            {% if prediction == "Female" %}

                <div class="emoji female">
                    👧
                </div>

                <h2>
                    Female
                </h2>

            {% elif prediction == "Male" %}

                <div class="emoji male">
                    👦
                </div>

                <h2>
                    Male
                </h2>

            {% else %}

                <h2>
                    {{ prediction }}
                </h2>

            {% endif %}

        </div>

        {% endif %}

    </div>

</body>

</html>